<svg viewbox="0 5 100 15" preserveAspectRatio="none">
    <path class="flowy1" fill="#FFFFFF" opacity="0.25" d="M50 30V15Q80 3 110 15V30zM150 30V15Q180 3 210 15V30z"/>
    <path class="flowy2" fill="#FFFFFF" d="M0 30V12Q30 7 55 12T100 13V30zM100 30V13Q130 7 155 12T200 11V30z"/>
</svg>

<style>
@keyframes f1 {
    0% {transform: translatex(0%);}
    25% {transform: translatex(-25%);}
    50% {transform: translatex(-80%);}
    75% {transform: translatex(-100%);}
    90% {transform: translatex(-50%);}
    100% {transform: translatex(0%);}
}
@keyframes f2 {
    0% {transform: translatex(0%);}
    25% {transform: translatex(-75%);}
    50% {transform: translatex(-100%);}
    75% {transform: translatex(-25%);}
    100% {transform: translatex(0%);}
}
.flowy1 {
    animation: f1;
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.flowy2 {
    animation: f2;
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
</style>