<div class="hero is-dark is-bold">
    {% include 'neg-flowy.html' %}
    <div class="hero-body">
        <div class="columns" style="font-size: small">
            <div class="column is-offset-2 is-2">
                <p>© 2021 Ridge Computing</p>
                <a href="https://apps.irs.gov/app/eos/detailsPage?ein=851929411&name=Ridge%20Computing&city=Basking%20Ridge&state=NJ&countryAbbr=US&dba=&type=CHARITIES,%20DETERMINATIONLETTERS,%20EPOSTCARD&orgTags=CHARITIES&orgTags=DETERMINATIONLETTERS&orgTags=EPOSTCARD">501
                    (c) (3)</a>
            </div>
            <div class="column is-2">
                Website by Ethan Ji
            </div>
            <div class="column is-2">
                <a href="mailto:ridgecomputing@gmail.com">ridgecomputing@gmail.com</a>
            </div>
            <div class="column is-2">
<!--                <a href="https://www.facebook.com/justin.hong.73550/"><img-->
<!--                        src="{{ cdn_for('icon/brands/facebook.svg') }}"-->
<!--                        style="width: 3em; height: 3em; padding-left: 1em; filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(103deg) brightness(106%) contrast(107%);">-->
<!--                </a>-->
                <div class="is-hidden-tablet">
                    <a href="https://www.instagram.com/ridgecomputing/"><i class="fab fa-instagram" style="width: 3em; height: 3em; margin-right: 1em; color: white;"></i></a>
                    <a href="https://github.com/Ridge-Computing"><i class="fab fa-github" style="width: 3em; height: 3em; margin-right: 1em; color: white;"></i></a>
                </div>
                <div class="is-hidden-mobile">
                    <a href="https://www.instagram.com/ridgecomputing/"><i class="fab fa-instagram" style="width: 3em; height: 3em; margin-left: 1em; color: white; float: right;"></i></a>
                    <a href="https://github.com/Ridge-Computing"><i class="fab fa-github" style="width: 3em; height: 3em; margin-left: 1em; color: white; float: right;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>