<div class="tabs is-fullwidth ridge-nav" style="z-index: 9999">
    <p class="is-hidden-mobile" style="padding-left:16.66667%"></p>
    <ul>
        <li>
            <a href="/">
                <img src="{{ cdn_for('logo-clear.svg') }}" width="24em" height="24em" alt="logo">
            </a>
        </li>
        <li>
            <a href="/about">
                <p>About</p>
            </a>
        </li>
        <li>
            <a href="/courses">
                <p>Courses</p>
            </a>
        </li>
        <li>
            <a href="/contact">
                <p>Contact us</p>
            </a>
        </li>

    </ul>
    <p class="is-hidden-mobile" style="padding-left:16.66667%"></p>
</div>
